<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{simpleAdminAsset('app.css')}}" />
    <script defer src="{{simpleAdminAsset('unpoly.js')}}"></script>
    <script defer src="{{simpleAdminAsset('app.js')}}"></script>
    <link rel="stylesheet" href="{{simpleAdminAsset('unpoly.css')}}" />
</head>

<body>
    <main>
        {{{await $slots.main()}}}
    </main>
</body>

</html>
