<!DOCTYPE html>
<html lang="en" class="h-full bg-white">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{simpleAdminAsset('app.css')}}" />
    <script defer src="{{simpleAdminAsset('unpoly.js')}}"></script>
    <script defer src="{{simpleAdminAsset('app.js')}}"></script>
    <link rel="stylesheet" href="{{simpleAdminAsset('unpoly.css')}}" />
</head>

<body class="h-full">
    <div x-data="{sidebarOpen:false}">
      <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true" x-show="sidebarOpen" x-transition:enter="transition-opacity ease-linear duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition-opacity ease-linear duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
        <div class="fixed inset-0 bg-gray-900/80" x-show="sidebarOpen" x-transition:enter="transition-opacity ease-linear duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition-opacity ease-linear duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"></div>
        <div class="fixed inset-0 flex">
          <div class="relative mr-16 flex w-full max-w-xs flex-1" @click.outside="sidebarOpen = false" x-show="sidebarOpen" x-transition:enter="transition ease-in-out duration-300 transform" x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transition ease-in-out duration-300 transform" x-transition:leave-start="translate-x-0" x-transition:leave-end="-translate-x-full">
            <div class="absolute left-full top-0 flex w-16 justify-center pt-5" x-show="sidebarOpen" x-transition:enter="ease-in-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in-out duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
              <button type="button" class="-m-2.5 p-2.5" @click="sidebarOpen = false">
                <span class="sr-only">Close sidebar</span>
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-4">
            <div class="flex h-16 shrink-0 items-center">
              <span>Simple Admin</span>
            </div>
            <nav class="flex flex-1 flex-col">
              <ul role="list" class="flex flex-1 flex-col gap-y-7">
                <li>
                  <ul role="list" class="-mx-2 psace-y-1">
                    @each (item in simpleAdminMenu)
                      @let(linkClass = request.url().includes(item.url) ? 'bg-gray-50 text-indigo-600'  : 'text-gray-700 hover:text-indigo-600 hover:bg-gray-50')
                    <li>
                      <a class="{{linkClass}} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" href="{{item.url}}">{{item.name}}</a>
                    </li>
                    @end
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          </div>
        </div>
      </div>
      <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
        <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4">
          <div class="flex h-16 shrink-0 items-center">
              <span>Simple Admin</span>
          </div>
          <nav class="flex flex-1 flex-col">
            <ul role="list" class="flex flex-1 flex-col gap-y-7">
              <li>
                <ul role="list" class="-mx-2 space-y-1">
                  @each (item in simpleAdminMenu)

                      @let(linkClass = request.url().includes(item.url) ? 'bg-gray-50 text-indigo-600'  : 'text-gray-700 hover:text-indigo-600 hover:bg-gray-50')
                    <li>
                      <a class="{{linkClass}} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" href="{{item.url}}">{{item.name}}</a>
                    </li>
                    @end

                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="lg:pl-72">
        <div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
          <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden" @click="sidebarOpen = true">
            <span class="sr-only">Open Sidebar</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
          <div class="h-6 w-px bg-gray-200 lg:hidden" aria-hidden="true"></div>
          <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
            <div class="flex items-center gap-x-4 lg:gap-x-6">
            </div>
          </div>
        </div>
        <main class="py-10">
          <div class="px-4 sm:px-6 lg:px-8">
            {{{await $slots.main()}}}
          </div>
        </main>

      </div>
    </div>
</body>

</html>
